.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background-color: #202020;
  color: #fff;
  width: 250px;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 60px;
  flex: 0 0 60px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item.active {
  background-color: #333333;
}

.menu-item:hover {
  background-color: #404040;
}

.minimize-btn {
  background-color: #333333;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.minimize-btn:hover {
  background-color: #505050;
}
