.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  background-color: #fff;
}

.total-sum {
  padding: 20px;
  text-align: right;
}

td:first-child {
  border-left: 8px solid transparent;
}

tr.category-shopping td:first-child {
  border-left: 8px solid darkblue;
}
tr.category-transport td:first-child {
  border-left: 8px solid darkgreen;
}
tr.category-other td:first-child {
  border-left: 8px solid darkgoldenrod;
}
tr.category-health td:first-child {
  border-left: 8px solid darkmagenta;
}
tr.category-entertainment td:first-child {
  border-left: 8px solid darkorange;
}
tr.category-eat-out td:first-child {
  border-left: 8px solid maroon;
}
