.overview-page {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.sections {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 20px;
}

.left-column {
  flex: 3; /* Zajmuje większą część przestrzeni */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-column {
  flex: 2; /* Mniejsza kolumna */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
